<div class="about-me-container">
  <div class="about-me-title">
    <span typingAnimation [typeSpeed]="50" [startDelay]="1500">
    Hi, I'm Minh Duc</span>
  </div>

  <div class="about-me-description">
    I am a junior developer, soon to be graduated.
    I am passionate with computers, whether it is hardware of software.
    My future goal is to work with a dynamic team to create new solutions, and at the same time, make new friends along the way.
  </div>

  <div class="about-me-window">
    <app-about-me-terminal></app-about-me-terminal>
  </div>
</div>
