.about-me-container {
  margin-top: 20vh;

  .about-me-title {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 4.5rem;
    color: var(--primary-blue);
  }

  .about-me-title::before {
    content: "> ";
  }

  .about-me-description {
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 1.5em;
  }
}
