<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <b style="color: var(--primary-blue)">Minh Duc</b> Pham
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="about-button" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="skills-button" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="experience-button" href="#">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projects-button" href="#">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="education-button" href="#" style="padding-right:0px">Education</a>
      </li>
    </ul>
  </div>
</nav>
