<div id="bar">
  <div id="button-red"></div>
  <div id="button-yellow"></div>
  <div id="button-green"></div>
</div>
<div id="screen">
  <p class="command" id="first-line">MinhDuc-Pham-Portfolio:~ minhduc.pham$</p>
  <br>

  <p class="command">$currentLocation</p>
  <p class="response">Kanata, Ottawa ON</p>

  <p class="command">$contactInfo</p>
  <p class="response array">
    <a href="#">minhduc99@outlook.com</a>,
    <a href="https://www.linkedin.com/in/mpham99/" target="_blank">LinkedIn</a>,
    <a href="https://github.com/mpham99" target="_blank">Github</a>
  </p>

  <p class="command">$interests</p>
  <p class="response array">
    <span>Coding</span>,
    <span>Electronics</span>,
    <span>Learning</span>,
    <span>Reading</span>,
    <span>Pop Music</span>,
    <span>Browsing TikTok</span>
  </p>

  <p class="command">$education</p>
  <p class="response">
    <a href="https://www.algonquincollege.com/sat/program/computer-engineering-technology-computing-science/">
      Computer Engineering Technology - Computing Science (with co-op) - Algonquin College, Ottawa ON</a>
  </p>

  <p class="command">$skills</p>
  <p class="response array">
    <span>Java, Spring Boot</span>,
    <span>MySQL</span>,
    <span>HTML/CSS</span>,
    <span>Angular, TypeScript/Javascript</span>,
    <span>C/C++/C#</span>,
    <span>Python</span>,
    <span>Git</span>
  </p>

  <p class="command">
    <span class="cursor">&nbsp;</span>
  </p>
  <br>
</div>
