/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --primary-blue: #339CFF;
  --secondary-blue: #EAF4FD;
}

body, html, nav {
  background-color: var(--secondary-blue);
}
